[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
User=root
Restart=on-failure
MemoryHigh=7.5G
LimitNOFILE=10485760

ExecStart=/home/ubuntu/nodeinfra-prometheus/prometheus \
  --config.file=/home/ubuntu/nodeinfra-prometheus/nodeinfra_prometheus.yml \
  --storage.tsdb.path=/data/prometheus \
  --storage.tsdb.retention.time=365d \
  --storage.tsdb.retention.size=950GB \
  --web.console.templates=/home/ubuntu/nodeinfra-prometheus/consoles \
  --web.console.libraries=/home/ubuntu/nodeinfra-prometheus/console_libraries \
  --web.listen-address=0.0.0.0:9090 \
  --web.enable-lifecycle
#  --web.enable-admin-api

# Prometheus logging configuration for sending logs to Loki
StandardOutput=file:/var/log/prometheus/error.log
StandardError=file:/var/log/prometheus/prometheus.log

[Install]
WantedBy=multi-user.target